*{
    padding:0;
    margin:0;
}
h1{
    text-align: center;
    background-color: burlywood;
}
.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    opacity: 70%;
    background-color: black;
}
img{
    height: 160px;
    width: 160px;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    text-align:center ;
    margin-top: 2rem;
    gap: 5rem;
    font-size: 3rem;
}
.score{
    font-size: 4rem;
}
.score p{
    color: rgb(239, 147, 147);
}
#user-score{
    color: burlywood;
}
#computer-score{
    color: cadetblue;
}
.msg-class{
    display:flex;
    justify-content: center;
}
#msg{
    display:flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 4rem;
    background-color: bisque;
}
#info{
    margin-top: 1rem;
    font-size: 2rem;
    background-color: rgb(231, 141, 31);
}
.reset{
    justify-content: center;
    display: flex;
}
.resetbtn{
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 10rem;
    font-size: 3rem;
    border-radius: 12%;
    background-color: rgb(25, 253, 4);
    margin-top: 2rem;
}
.hide{
    visibility: hidden;
}